service-poller-backend/target/
service-poller-backend/servicesFile.json

# IntelliJ
service-poller-backend/.idea
service-poller-backend/*.iml
service-poller-frontend/.idea
service-poller-frontend/*.iml
